<div class="user-list-page">
  <div class="user-list-page__inner">
    <div class="user-list-page__button">
      <button type="button" ng-click="vm.showUserViewPage()" class="button button--align-right">Create User</button>
    </div>
    <div class="user-list-page__table">
      <table>
        <thead>
          <tr>
            <th>USERNAME</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>TYPE</th>
          </tr>
        </thead>
        <tr ng-repeat="user in vm.users" ng-click="vm.showUserViewPage(user.id)">
          <td>{{user.username}}</td>
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.type}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>