/* Put here your custom styles */
/* reset css*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEF0F8;
  color: #3F4254;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.button {
  display: block;
  min-width: 120px;
  padding: 15px 23px;
  font-size: 14px;
  background: #2e8ff0;
  color: #fff;
  box-shadow: 0 5px 8px #2E8FF029;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.button:hover {
  background: rgba(46, 143, 240, 0.8);
}

.button.button--success {
  background: #66bb6a;
  box-shadow: 0 10px 15px #4CAF505C;
}

.button.button--success:hover {
  background: rgba(102, 187, 106, 0.8);
}

.button.button--error {
  background: #EF7DA0;
  box-shadow: 0 10px 15px #EF7DA05C;
}

.button.button--error:hover {
  background: rgba(239, 125, 160, 0.8);
}

.button.button--align-right {
  justify-self: end;
}

.button.button--align-center{
  justify-self: center;
}

.button-close {
  background: none;
  border: none;
  cursor: pointer;
}

.button--disabled {
  cursor: default;
  background: #2E8FF029;
}

.button--disabled:hover {
  background: #2E8FF029;
}

.close {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('close.svg');
}